.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .event-list h2 {
    text-align: center;
  }
  
  .event-item {
    background-color: #e4e3e3;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
  }
  
  .event-item h3 {
    margin-top: 0;
    text-align: center;
  } 